<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dbs.flutter_pdf_annotations">
    <application>
        <activity android:name=".PDFViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
